 body {
	margin: 0;
	padding: 0;
 }
 .emp_drp {
    background: none repeat scroll 0 0 #137a63;
    list-style: outside none none;
    margin-left: 455px;
    padding-right: 28px;
    position: absolute;
    z-index: 200;
    display: none;
}
.emp_drp a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
 #background 
{ 
/*	 margin-top: 224px; */
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 1366px;
	 overflow: hidden;
	 z-index:0;
         background: #F1F1EC;
         padding-top: 37px;
         padding-bottom: 37px;
	} 

 #Shape1 
{ 
	 left: -1px; 
	 top: -2px; 
	 position: absolute; 
	 width: 1368px;
	 height: 2908px;
	 z-index:1;
} 

 #Rectangle4copy9 
{ 
	 left: -1px; 
	 top: -2px; 
	 position: absolute; 
	 width: 1368px;
	 height: 129px;
	 z-index:2;
} 

 #Rectangle5 
{ 
	 left: -1px; 
	 top: 2379px; 
	 position: absolute; 
	 width: 1368px;
	 height: 527px;
	 z-index:3;
} 

 #Shape3 
{ 
	 left: 87px; 
	 top: 2818px; 
	 position: absolute; 
	 width: 1201px;
	 height: 5px;
	 z-index:4;
} 

 #INFORMATION 
{ 
	 left: 72px; 
	 top: 2433px; 
	 position: absolute; 
	 width: 185px;
	 height: 19px;
	 z-index:5;
} 

 #Thiswebsiteisnotoffi 
{ 
	 left: 416px; 
	 top: 2738px; 
	 position: absolute; 
	 width: 518px;
	 height: 49px;
	 z-index:6;
} 

 #Home 
{ 
	 left: 477px; 
	 top: 54px; 
	 position: absolute; 
	 width: 71px;
	 height: 18px;
	 z-index:7;
} 

 #Jobs 
{ 
	 left: 613px; 
	 top: 54px; 
	 position: absolute; 
	 width: 59px;
	 height: 19px;
	 z-index:8;
} 

 #Candidates 
{ 
	 left: 739px; 
	 top: 55px; 
	 position: absolute; 
	 width: 139px;
	 height: 19px;
	 z-index:9;
} 

 #Employers 
{ 
	 left: 948px; 
	 top: 55px; 
	 position: absolute; 
	 width: 129px;
	 height: 23px;
	 z-index:10;
} 

 #SignUporLogin 
{ 
	 left: 1143px; 
	 top: 55px; 
	 position: absolute; 
	 width: 179px;
	 height: 19px;
	 z-index:11;
} 

 #HOMEABOUTUSJOBSCANDI 
{ 
	 left: 72px; 
	 top: 2481px; 
	 position: absolute; 
	 width: 224px;
	 height: 284px;
	 z-index:12;
} 

 #SERVICES 
{ 
	 left: 392px; 
	 top: 2433px; 
	 position: absolute; 
	 width: 129px;
	 height: 19px;
	 z-index:13;
} 

 #POSTAJOBPOSTARESUMEF 
{ 
	 left: 394px; 
	 top: 2481px; 
	 position: absolute; 
	 width: 169px;
	 height: 148px;
	 z-index:14;
} 

 #MYACCOUNT 
{ 
	 left: 775px; 
	 top: 2433px; 
	 position: absolute; 
	 width: 179px;
	 height: 19px;
	 z-index:15;
} 

 #SIGNINMYALERTSVIEWPR 
{ 
	 left: 775px; 
	 top: 2481px; 
	 position: absolute; 
	 width: 147px;
	 height: 148px;
	 z-index:16;
} 

 #FOLLOWUS 
{ 
	 left: 1088px; 
	 top: 2433px; 
	 position: absolute; 
	 width: 157px;
	 height: 19px;
	 z-index:17;
} 

 #TWITTERFACEBOOKRSS 
{ 
	 left: 1126px; 
	 top: 2480px; 
	 position: absolute; 
	 width: 100px;
	 height: 96px;
	 z-index:18;
} 

 #Layer17 
{ 
	 left: 1092px; 
	 top: 2516px; 
	 position: absolute; 
	 width: 24px;
	 height: 24px;
	 z-index:19;
} 

 #Layer18 
{ 
	 left: 1093px; 
	 top: 2476px; 
	 position: absolute; 
	 width: 24px;
	 height: 20px;
	 z-index:20;
} 

 #Layer19 
{ 
	 left: 1093px; 
	 top: 2558px; 
	 position: absolute; 
	 width: 24px;
	 height: 24px;
	 z-index:21;
} 

 #Shape4 
{ 
	 left: 472px; 
	 top: 80px; 
	 position: absolute; 
	 width: 80px;
	 height: 6px;
	 z-index:22;
} 

 #Rectangle8 
{ 
	 left: 36px; 
	 top: 268px; 
	 position: absolute; 
	 width: 297px;
	 height: 838px;
	 z-index:23;
} 

 #Rectangle8copy 
{ 
	 left: 344px; 
	 top: 268px; 
	 position: absolute; 
	 width: 779px;
	 height: 1472px;
	 z-index:24;
} 

#Shape5 {
    display: inline-block;
    height: 4px;
    padding-bottom: 10px;
    width: 759px;
}

 #Shape5copy 
{  
	 width: 759px;
	 height: 4px;
         display: inline-block;
} 

 #Shape5copy6 
{ 
	 width: 268px;
	 height: 5px;
} 

 #comp_logo_sml 
{ 
	 width: 78px;
	 height: 73px;
         float: left;
         margin-right: 10px;
} 
#comp_logo_sml > img {
    width: 78px;
    height: 73px;
}

 #Layer35 
{ 
	 left: 382px; 
	 top: 316px; 
	 position: absolute; 
	 width: 43px;
	 height: 17px;
	 z-index:29;
} 

.main_title {
    color: #2980b9;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    height: 27px;
}

 #CocaCola 
{ 
	 left: 462px; 
	 top: 337px; 
	 position: absolute; 
	 width: 114px;
	 height: 17px;
	 z-index:31;
	 font-weight: bold;
	 font-size: 22px;
	 color:#828186;
	 font-family: arial;
}

.company {
    color: #828186;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    height: 17px;
}

 #Layer40 
{  
	 width: 19px;
	 height: 30px;
         float: left;
         margin-top: 4px;
} 

 .location
{ 
	 left: 697px; 
	 top: 408px; 
	 position: absolute; 
	 width: 122px;
	 height: 13px;
	 z-index:33;
	 font-family:Arial;
	 font-weight:normal;
	 font-size:16px;
	 color:#828186;
} 

 #RoundedRectangle7 
{   
    float: left;
    height: 36px;
    margin-top: 4px;
    width: 125px;
    margin-left: 58px;
} 

 #PARTTIME 
{  
	 width: 91px;
	 height: 12px;
} 

 #RoundedRectangle7cop 
{ 
	 width: 138px;
	 height: 36px;
} 

 #APPLYNOW 
{ 
	 width: 110px;
	 height: 12px;
} 

 #Layer7copy 
{ 
	 left: 17px; 
	 top: 8px; 
	 position: absolute; 
	 width: 110px;
	 height: 103px;
	 z-index:38;
} 

 #MUG 
{ 
	 left: 28px; 
	 top: 14px; 
	 position: absolute; 
	 width: 75px;
	 height: 80px;
	 z-index:39;
} 

 #Rectangle16 
{ 
	 left: -3px; 
	 top: 125px; 
	 position: absolute; 
	 width: 1368px;
	 height: 101px;
	 z-index:40;
} 

 #RoundedRectangle6 
{ 
	 left: 23px; 
	 top: 148px; 
	 position: absolute; 
	 width: 409px;
	 height: 56px;
	 z-index:41;
} 

 #RoundedRectangle6cop 
{ 
	 left: 468px; 
	 top: 148px; 
	 position: absolute; 
	 width: 325px;
	 height: 56px;
	 z-index:42;
} 
#RoundedRectangle6cop_0 {
    background: url("../../resources/images/images/serach_btn.png") no-repeat scroll 0 0 / 182px 45px rgba(0, 0, 0, 0);
    border: 2px solid;
    border-radius: 10px;
    height: 49px;
    margin-left: 58px;
    width: 170px;
}

.vr_intrnl_ad {
    display: inline-block;
    width: 198px;
    padding-left: 14px;
    border-left: 1px solid; 
}
 #AllJobs 
{ 
	 left: 41px; 
	 top: 166px; 
	 position: absolute; 
	 width: 99px;
	 height: 20px;
	 z-index:44;
} 

 #AnyLocation 
{ 
	 left: 484px; 
	 top: 166px; 
	 position: absolute; 
	 width: 166px;
	 height: 23px;
	 z-index:45;
} 

 #Polygon1 
{ 
	 left: 394px; 
	 top: 169px; 
	 position: absolute; 
	 width: 18px;
	 height: 16px;
	 z-index:46;
} 

 #Polygon1copy 
{ 
	 left: 758px; 
	 top: 169px; 
	 position: absolute; 
	 width: 18px;
	 height: 16px;
	 z-index:47;
} 

 #Search 
{ 
	 left: 893px; 
	 top: 165px; 
	 position: absolute; 
	 width: 84px;
	 height: 20px;
	 z-index:48;
} 

 #Layer22 
{ 
	 left: 853px; 
	 top: 160px; 
	 position: absolute; 
	 width: 33px;
	 height: 34px;
	 z-index:49;
} 

 #RoundedRectangle7_0 
{ 
	 left: 1045px; 
	 top: 140px; 
	 position: absolute; 
	 width: 278px;
	 height: 68px;
	 z-index:50;
} 

 #POSTANEWJOB 
{ 
	 left: 1080px; 
	 top: 167px; 
	 position: absolute; 
	 width: 207px;
	 height: 16px;
	 z-index:51;
} 
#RoundedRectangle7cop_0 {
    height: 60px;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
}

 #APPLYNOW_0 
{ 
	 width: 151px;
	 height: 16px;
} 

 #RoundedRectangle7cop_1 
{  
	 float: left;
	 height: 60px;
} 

 #APPLYNOWcopy 
{  
	 width: 151px;
	 height: 16px;
} 

 #RoundedRectangle7cop_2 
{ 
	 width: 323px;
	 height: 58px;
} 

 #BacktoSearchResults 
{ 
	 width: 260px;
	 height: 17px;
} 

 #JobSummary 
{ 
	 left: 59px; 
	 top: 304px; 
	 position: absolute; 
	 width: 202px;
	 height: 27px;
	 z-index:58;
} 

.big_title {
    color: #69696a;
    font-family: Arial;
    font-size: 28px;
    font-weight: bold;
    height: 27px;
    margin-left: 32px;
    padding-bottom: 20px;
    padding-top: 30px;
    width: 202px;
}

 #Company 
{ 
	 left: 58px; 
	 top: 393px; 
	 position: absolute; 
	 width: 99px;
	 height: 18px;
	 z-index:59;
} 

.sub_lable {
    color: #148367;
    font-family: Arial;
    font-size: 22px;
    font-weight: bold;
    height: 18px;
    margin-left: 22px;
    padding-bottom: 10px;
    padding-top: 20px;
    width: 214px;
}
 #CocaCola_0 
{ 
	 left: 59px; 
	 top: 421px; 
	 position: absolute; 
	 width: 106px;
	 height: 16px;
	 z-index:60;
} 

.employer_name {
    color: #2b82bf;
    font-family: Arial;
    font-size: 20px;
    height: auto;
    margin-left: 24px;
    padding-bottom: 5px;
}


.sub_label_name{
     color:#69696a;
	 font-family:Arial;
	 font-size:22px;
	  left: 57px; 
	 top: 495px; 
	 position: absolute; 
	 width: 154px;
	 height: 15px;
	 z-index:61;
	 
}



.sub_label_name_atr{
	 width: 212px;
	 min-height: 15px;
         color:#69696a;
	 font-family:Arial;
	 font-size:22px;
         margin-left: 23px;
         padding-bottom: 6px;
}

 #Location 
{ 
	 left: 59px; 
	 top: 465px; 
	 position: absolute; 
	 width: 88px;
	 height: 15px;
	 z-index:62;
} 

.Location 
{  
        color: #148367;
	 width: 88px;
	 height: 15px;
	 font-family:Arial;
	 font-size:22px;
	 
}

 #InformationTechnolog 
{ 
	 width: 248px;
	 height: 19px;
} 

 #Industry 
{ 
	 width: 84px;
	 height: 18px;
} 

 #PartTime 
{ 
    width: 99px;
    height: 15px;
    color: #69696a;
    font-family: Arial;
    font-size: 22px;
} 

 #JobType 
{ 
	 width: 96px;
	 height: 18px;
} 

 #years 
{  
     color: #69696a;
     font-family: Arial;
     font-size: 22px;
	 height: 15px;
} 

 #Experience 
{ 
	 width: 114px;
	 height: 18px;
} 

 #BachelorsDegree 
{ 
    height: 19px;
    color: #69696a;
    font-family: Arial;
    font-size: 22px;
} 

 #EducationLevel 
{  
	 width: 163px;
	 height: 16px;
} 

 #layer_5000065000 
{ 	 
    height: 18px;
    color: #69696a;
    font-family: Arial;
    font-size: 22px;
} 

 #SalaryRange 
{  
	 width: 136px;
	 height: 19px;
} 

 #Experienced 
{ 
    height: 19px;
    color: #69696a;
    font-family: Arial;
    font-size: 22px;
} 

 #CareerLevel 
{  
	 width: 128px;
	 height: 16px;
} 

#Layer41 {
    float: left;
    height: 23px;
    margin-top: 18px;
    width: 24px;
}
#left_sqr_ad {
    padding: 8px;
}
.apply_btn {
    background: none repeat scroll 0 0 #19b77a;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-family: arial;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
#RoundedRectangle7 > img {
    height: 35px;
}
.locationn{
    color: #69696a;
    font-family: arial;
    font-size: 19px;
    margin-left: 6px;
    margin-top: 8px;
    margin-left: 6px;
    float: left;
    width: 304px;
}
.favourites {
    color: #828186;
    float: left;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    height: 13px;
    margin-left: 6px;
    margin-top: 7px;
    width: 194px;
}
 #OverviewTheCocaColaU 
{ 
	 left: 364px; 
	 top: 464px; 
	 position: absolute; 
	 width: 735px;
	 height: 196px;
	 z-index:77;
} 
.job_description {
    color: #000000;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    min-height: 200px;
    padding-bottom: 20px;
    width: 735px;
}



.job_description h1 ,.job_description h2 ,.job_description h3 ,.job_description h4 ,.job_description h5 ,.job_description h6 {
    color:#148367;
}
.job_description ul li{
 list-style-image:url(images/Ellipse1.png);
 list-style-position:inside;
 margin-top: 20px;
 }

 #Responsibilities 
{ 
	 left: 368px; 
	 top: 704px; 
	 position: absolute; 
	 width: 194px;
	 height: 23px;
	 z-index:78;
} 

 #Activelyparticipatei 
{ 
	 left: 427px; 
	 top: 753px; 
	 position: absolute; 
	 width: 669px;
	 height: 194px;
	 z-index:79;
} 



.post_date 
{ 
	 font-family:Arial;
	 font-weight:normal;
	 font-size:16px;
	 width: 140px;
	 height: 15px;
	 color:#828186;
	 padding-bottom: 17px;
}
 #Rectangle15copy 
{ 
	 width: 198px;
	 height: 936px;
} 

 #Rectangle15copy3 
{  
	 width: 297px;
	 height: 286px;
} 

 #Rectangle15copy4 
{ 
	 width: 297px;
	 height: 307px;
} 

 #AD 
{  
	 width: 155px;
	 height: 75px;
} 

 #ADcopy 
{ 
	 width: 155px;
	 height: 75px;
} 

 #ADcopy2 
{  
	 width: 155px;
	 height: 75px;
} 

 #Ellipse1 
{ 
         float: left;
	 width: 14px;
	 height: 14px;
	 z-index:87;
         margin-left: 22px;
} 

 #Ellipse1copy 
{ 
        float: left;
	 width: 14px;
	 height: 14px;
	 z-index:88;
} 

 #Ellipse1copy2 
{ 
	 left: 400px; 
	 top: 904px; 
	 position: absolute; 
	 width: 14px;
	 height: 14px;
	 z-index:89;
} 

 #Qualifications 
{ 
	 left: 367px; 
	 top: 1002px; 
	 position: absolute; 
	 width: 171px;
	 height: 20px;
	 z-index:90;
} 

 #BSinComputerScienceo 
{ 
	 left: 427px; 
	 top: 1051px; 
	 position: absolute; 
	 width: 669px;
	 height: 194px;
	 z-index:91;
} 

 #Ellipse1copy3 
{ 
	 left: 400px; 
	 top: 1054px; 
	 position: absolute; 
	 width: 14px;
	 height: 14px;
	 z-index:92;
} 

 #Ellipse1copy4 
{ 
	 left: 400px; 
	 top: 1104px; 
	 position: absolute; 
	 width: 14px;
	 height: 14px;
	 z-index:93;
} 

 #Ellipse1copy5 
{ 
	 left: 400px; 
	 top: 1202px; 
	 position: absolute; 
	 width: 14px;
	 height: 14px;
	 z-index:94;
} 

 #Benefits 
{ 
	 left: 368px; 
	 top: 1294px; 
	 position: absolute; 
	 width: 100px;
	 height: 19px;
	 z-index:95;
} 

 #Employeeassistancepr 
{ 
	 left: 428px; 
	 top: 1343px; 
	 position: absolute; 
	 width: 667px;
	 height: 294px;
	 z-index:96;
} 

 #Ellipse1copy6 
{ 
	 left: 400px; 
	 top: 1346px; 
	 position: absolute; 
	 width: 14px;
	 height: 14px;
	 z-index:97;
} 

 #Ellipse1copy7 
{ 
	 left: 400px; 
	 top: 1419px; 
	 position: absolute; 
	 width: 14px;
	 height: 14px;
	 z-index:98;
} 

 #Ellipse1copy8 
{ 
	 left: 400px; 
	 top: 1470px; 
	 position: absolute; 
	 width: 14px;
	 height: 14px;
	 z-index:99;
} 

 #Ellipse1copy9 
{ 
	 left: 400px; 
	 top: 1544px; 
	 position: absolute; 
	 width: 14px;
	 height: 14px;
	 z-index:100;
} 

 #Ellipse1copy10 
{ 
	 left: 400px; 
	 top: 1620px; 
	 position: absolute; 
	 width: 14px;
	 height: 14px;
	 z-index:101;
} 

 #Rectangle8_0 
{ 
	 left: 35px; 
	 top: 1774px; 
	 position: absolute; 
	 width: 1295px;
	 height: 567px;
	 z-index:102;
} 

 #Rectangle9copy 
{ 
	 left: 65px; 
	 top: 1903px; 
	 position: absolute; 
	 width: 784px;
	 height: 88px;
	 z-index:103;
} 

 #Rectangle9copy2 
{ 
	 left: 65px; 
	 top: 1988px; 
	 position: absolute; 
	 width: 784px;
	 height: 80px;
	 z-index:104;
} 

 #Shape5_0 
{ 
	 left: 50px; 
	 top: 1868px; 
	 position: absolute; 
	 width: 1263px;
	 height: 4px;
	 z-index:105;
} 

 #Shape5copy_0 
{ 
	 left: 65px; 
	 top: 1984px; 
	 position: absolute; 
	 width: 784px;
	 height: 4px;
	 z-index:106;
} 

 #Shape5copy3 
{ 
	 left: 65px; 
	 top: 2143px; 
	 position: absolute; 
	 width: 784px;
	 height: 4px;
	 z-index:107;
} 

 #Shape5copy4 
{ 
	 left: 65px; 
	 top: 2221px; 
	 position: absolute; 
	 width: 784px;
	 height: 4px;
	 z-index:108;
} 

 #Shape5copy2 
{ 
	 left: 65px; 
	 top: 2065px; 
	 position: absolute; 
	 width: 784px;
	 height: 4px;
	 z-index:109;
} 

 #Background 
{ 
	 left: 905px; 
	 top: 1946px; 
	 position: absolute; 
	 width: 376px;
	 height: 368px;
	 z-index:110;
} 

 #Rectangle10_0 
{ 
	 left: 64px; 
	 top: 1902px; 
	 position: absolute; 
	 width: 785px;
	 height: 405px;
	 z-index:111;
} 

 #Rectangle11 
{ 
	 left: 65px; 
	 top: 1903px; 
	 position: absolute; 
	 width: 12px;
	 height: 84px;
	 z-index:112;
} 

 #Rectangle11copy 
{ 
	 left: 65px; 
	 top: 1985px; 
	 position: absolute; 
	 width: 12px;
	 height: 83px;
	 z-index:113;
} 

 #Layer45 
{ 
	 left: 981px; 
	 top: 1905px; 
	 position: absolute; 
	 width: 30px;
	 height: 29px;
	 z-index:114;
} 

 #SponsoredJob 
{ 
	 left: 1017px; 
	 top: 1913px; 
	 position: absolute; 
	 width: 156px;
	 height: 18px;
	 z-index:115;
} 

 #Layer46 
{ 
	 left: 100px; 
	 top: 1933px; 
	 position: absolute; 
	 width: 43px;
	 height: 17px;
	 z-index:116;
} 

 #Layer47 
{ 
	 left: 98px; 
	 top: 2018px; 
	 position: absolute; 
	 width: 41px;
	 height: 16px;
	 z-index:117;
} 

 #Layer48 
{ 
	 left: 100px; 
	 top: 2098px; 
	 position: absolute; 
	 width: 35px;
	 height: 16px;
	 z-index:118;
} 

 #Layer49 
{ 
	 left: 99px; 
	 top: 2183px; 
	 position: absolute; 
	 width: 40px;
	 height: 7px;
	 z-index:119;
} 

 #Layer50 
{ 
	 left: 106px; 
	 top: 2250px; 
	 position: absolute; 
	 width: 21px;
	 height: 25px;
	 z-index:120;
} 

 #DesignTechnologist_0 
{ 
	 left: 168px; 
	 top: 1927px; 
	 position: absolute; 
	 width: 189px;
	 height: 17px;
	 z-index:121;
} 

 #CocaCola_1 
{ 
	 left: 169px; 
	 top: 1950px; 
	 position: absolute; 
	 width: 84px;
	 height: 13px;
	 z-index:122;
} 

 #Layer51 
{ 
	 left: 445px; 
	 top: 1927px; 
	 position: absolute; 
	 width: 19px;
	 height: 30px;
	 z-index:123;
} 

 #SunsetDistrict_1 
{ 
	 left: 474px; 
	 top: 1935px; 
	 position: absolute; 
	 width: 122px;
	 height: 13px;
	 z-index:124;
} 

 #RoundedRectangle7_1 
{ 
	 left: 688px; 
	 top: 1925px; 
	 position: absolute; 
	 width: 126px;
	 height: 37px;
	 z-index:125;
} 

 #PARTTIME_0 
{ 
	 left: 706px; 
	 top: 1938px; 
	 position: absolute; 
	
	 height: 12px;
	 z-index:126;
} 

 #WebDesigner 
{ 
	 left: 167px; 
	 top: 2167px; 
	 position: absolute; 
	 width: 133px;
	 height: 17px;
	 z-index:127;
} 

 #Sony 
{ 
	 left: 169px; 
	 top: 2191px; 
	 position: absolute; 
	 width: 41px;
	 height: 15px;
	 z-index:128;
} 

 #Layer40copy3 
{ 
	 left: 445px; 
	 top: 2167px; 
	 position: absolute; 
	 width: 19px;
	 height: 30px;
	 z-index:129;
} 

 #Oakville 
{ 
	 left: 475px; 
	 top: 2175px; 
	 position: absolute; 
	 width: 66px;
	 height: 13px;
	 z-index:130;
} 

 #RoundedRectangle7cop_3 
{ 
	 left: 688px; 
	 top: 2165px; 
	 position: absolute; 
	 width: 126px;
	 height: 37px;
	 z-index:131;
} 

 #PARTTIMEcopy 
{ 
	 left: 706px; 
	 top: 2178px; 
	 position: absolute; 
	 width: 91px;
	 height: 12px;
	 z-index:132;
} 

 #ProductDesigner 
{ 
	 left: 168px; 
	 top: 2009px; 
	 position: absolute; 
	 width: 163px;
	 height: 17px;
	 z-index:133;
} 

 #PespsiCo 
{ 
	 left: 170px; 
	 top: 2032px; 
	 position: absolute; 
	 width: 84px;
	 height: 16px;
	 z-index:134;
} 

 #Layer40copy 
{ 
	 left: 445px; 
	 top: 2009px; 
	 position: absolute; 
	 width: 19px;
	 height: 30px;
	 z-index:135;
} 

 #SouthofMarket 
{ 
	 left: 474px; 
	 top: 2017px; 
	 position: absolute; 
	 width: 133px;
	 height: 13px;
	 z-index:136;
} 

 #RoundedRectangle7cop_4 
{ 
	 left: 688px; 
	 top: 2007px; 
	 position: absolute; 
	 width: 126px;
	 height: 37px;
	 z-index:137;
} 

 #FULLTIME 
{ 
	 left: 706px; 
	 top: 2020px; 
	 position: absolute; 
	 width: 89px;
	 height: 12px;
	 z-index:138;
} 

 #ArtDirector 
{ 
	 left: 167px; 
	 top: 2088px; 
	 position: absolute; 
	 width: 113px;
	 height: 14px;
	 z-index:139;
} 

 #PG 
{ 
	 left: 170px; 
	 top: 2112px; 
	 position: absolute; 
	 width: 33px;
	 height: 12px;
	 z-index:140;
} 

 #Layer40copy2 
{ 
	 left: 445px; 
	 top: 2088px; 
	 position: absolute; 
	 width: 19px;
	 height: 30px;
	 z-index:141;
} 

 #KansasCity 
{ 
	 left: 475px; 
	 top: 2096px; 
	 position: absolute; 
	 width: 96px;
	 height: 16px;
	 z-index:142;
} 

 #RoundedRectangle7cop_5 
{ 
	 left: 688px; 
	 top: 2086px; 
	 position: absolute; 
	 width: 126px;
	 height: 37px;
	 z-index:143;
} 

 #FULLTIMEcopy 
{ 
	 left: 706px; 
	 top: 2099px; 
	 position: absolute; 
	 width: 89px;
	 height: 12px;
	 z-index:144;
} 

 #UIDesigner 
{ 
	 left: 168px; 
	 top: 2247px; 
	 position: absolute; 
	 width: 109px;
	 height: 17px;
	 z-index:145;
} 

 #Apple 
{ 
	 left: 169px; 
	 top: 2270px; 
	 position: absolute; 
	 width: 50px;
	 height: 16px;
	 z-index:146;
} 

 #Layer40copy4 
{ 
	 left: 445px; 
	 top: 2247px; 
	 position: absolute; 
	 width: 19px;
	 height: 30px;
	 z-index:147;
} 

 #NewYork 
{ 
	 left: 475px; 
	 top: 2255px; 
	 position: absolute; 
	 width: 79px;
	 height: 13px;
	 z-index:148;
} 

 #RoundedRectangle7cop_6 
{ 
	 left: 688px; 
	 top: 2245px; 
	 position: absolute; 
	 width: 126px;
	 height: 37px;
	 z-index:149;
} 

 #FULLTIMEcopy2 
{ 
	 left: 706px; 
	 top: 2258px; 
	 position: absolute; 
	 width: 89px;
	 height: 12px;
	 z-index:150;
} 

 #SimilarJobs 
{ 
	 left: 70px; 
	 top: 1821px; 
	 position: absolute; 
	 width: 177px;
	 height: 22px;
	 z-index:151;
} 
.left_pannel {
    background: none repeat scroll 0 0 #fff;
   margin-left: 30px;
    min-height: 500px;
    float: left;
    width: 266px;
}
.left_pannel > ul {
    list-style: outside none none;
    padding-left: 0px;
}
.swapper > li {
    border-bottom-color: #e5e5e5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    clear: both;
    color: #555;
    cursor: pointer;
/*    line-height: 54px;*/
    list-style-position: outside;
    list-style-type: none;
    margin-top: 0;
    min-height: 48px;
	padding: 3px 3px 4px 4px;
/*    padding-bottom: 17px;
    padding-left: 19px;
    padding-right: 0;
    padding-top: 22px;*/
    width: 237px;
}
.left_icon {
    float: left;
}
.swapper a {
    -moz-text-decoration-color: -moz-use-text-color;
    -moz-text-decoration-line: none;
    -moz-text-decoration-style: solid;
    color: #5e5e61;
    float: left;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
	width:100%;
}
.swapper a:hover{
    color: #fff;
}
.right_panel {
    background: none repeat scroll 0 0 #fff;
    float: left;
    width: 1000px;
    min-height: 500px;
    margin-left: 12px;
    padding: 10px;
}
.main_container {
    left: 72px;
    padding: 5px;
    top: 268px;
}
#header_top_drop1 {
  position: absolute;
  left: 23px;
  top: 148px;
  height: 56px;
  z-index: 44;
  width: 409px;
}
#header_top_drop2 {
  position: absolute;
  left: 468px;
  top: 148px;
  height: 56px;
  z-index: 45;
  width: 325px;
}
#header_top_drop3 {
  background: url("../../resources/images/images2/search_search.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  position: absolute;
  left: 833px;
  top: 147px;
  height: 56px;
  z-index: 46;
  width: 170px;
}
#header_drp_down4 {
    float: left;
    height: 68px;
    margin-left: 14px;
    margin-top: 20px;
    top: 140px;
    width: 220px;
}

.attrs.mrgn {
    margin-right: 84px;
}
.search_container {
    float: left;
    margin-left: 26px;
    margin-top: 27px;
    width: 995px;
}
#top_search_box {
    float: left;
}
.search_drop{
     padding:11px;
    margin: 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:12px;
    background: #f8f8f8;
    color:#474848;
    border:none;
    outline:none;
    display: inline-block;
    cursor:pointer;
    height: 57px;
    width: 410px;
    font-size: 23px;
    background-color: #E1DDDD;
}
.search_drop2 {
    background-color: #e1dddd;
    border: medium none;
    border-radius: 12px;
    color: #474848;
    float: left;
    font-size: 23px;
    height: 26px;
    margin-left: 66px;
    padding: 11px;
    width: 248px;
}
.footer {
    color: #fff;
    margin-left: 72px;
    margin-right: 92px;
    z-index: 5;
    border-bottom: 3px solid #0c9375;
}
.footer_container {
    float: left;
    margin-right: 110px;
    font-family: arial;
}
.spacer {
    margin-left: 50px;
}
.footer_lnks {
    padding: 0;
    color: #757375;
    font-family: arial;
}
.footer_ttl{
    color: #DBD7D7;
    font-size: 28px;
    font-family: arial;
}
.footer_lnks > li{
    list-style: none;
    clear: both;
    font-family: arial;
}
.social_icon{
    float: left;
    margin-right: 10px;
}
.footer_lnks > li > a{
    text-decoration: none;
    color: #757375;
}
.footer_lnks > li > a:hover{
    color: #0c9375;
    text-decoration: none;
}
.project_container > h3 {
    color: #2980b9;
}
.prop_txt {
    clear: both;
    color: #757375;
    font-size: 11px;
    margin: 0 auto 37px;
    text-align: center;
    width: 782px;
    font-family: arial;
}
.footer_outer {
    background: none repeat scroll 0 0 #31353d;
    min-height: auto;
    padding-top: 42px;
    width: 1368px;
    margin: 0 auto;
}
.clearfix{
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}
.results{
    float: left;
    left: 0;
    margin-bottom: 4px;
    overflow: visible;
    position: relative;
    top: 0;
    width: 96%;
    z-index: 0;
}
.results th {
    background: -moz-linear-gradient(center top , #eee 0px, #eaeaea 6%, #fafafa 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background:#cacaca;
    background:-moz-linear-gradient(top,#cacaca 0,#ddd 42%,#f3f3f3 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#cacaca),color-stop(42%,#ddd),color-stop(100%,#f3f3f3));
    -webkit-background-clip:padding-box;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#CACACA',endColorstr='#F3F3F3',GradientType=0)
    cursor: pointer;
    font-size: 11px;
    min-width: 30px;
    padding: 10px;
    color: #69696a;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
}
.results tr {
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
}
.results td {
    cursor: pointer;
    font-size: 11px;
    min-width: 30px;
    padding: 4px 10px 4px 10px;
}
.res_tr img {
    cursor: pointer;
}
.resultswrap {
    background: none repeat scroll 0 0 #fff;
/*    border: 1px solid #e5e5e5;*/
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;
    border-radius: 4px;
}
.results tr:hover{
    background: -moz-linear-gradient(center top , #f4fafd 0px, #e5f4fc 6%, #d9eff9 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.text {
    color: #5e5e61;
    float: left;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    min-width: 150px;
    padding-right: 5px;
    padding-top: 5px;
}
.field{
            float: left;
            min-width: 321px;
        }
.message, .message > p{
            color: red;
            padding: 5px;
        }
        .pr_img{
    float: left;
    padding: 5px;
}
.appswrap {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    width: 50%;
    z-index: 2;
}
.ic_one {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}
.ic_two{
    cursor: pointer;
}
.nav_menu {
    margin-left: 6%;
    margin-top: 12px;
    color: #fff;
    float: right;
}
.nav_menu > a {
    color: #fff;
    font-family: arial;
    font-size: 18px;
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
}
.nav_menu > a:hover{
    border-bottom: 2px solid #A7AFAD;
}
.join.hideTab.margn {
    margin-right: 9px;
}
.signin.last_nav {
    margin-left: 13px;
}
.left_profile_pic {
    border: 2px solid;
    border-radius: 120px;
    height: 185px;
    margin-left: 32px;
    margin-top: 30px;
    padding: 5px;
    text-align: center;
    width: 185px;
}
.left_profile_pic > img {
    border-radius: 139px;
    height: 185px;
    width: 185px;
}
.left_username {
    font-family: arial;
    font-size: 28px;
    margin-top: 30px;
    text-align: center;
}
.search_box {
    float: left;
    margin-left: 10px;
    width: 770px;
}
.inner_searchbox {
    background: none repeat scroll 0 0 #e1dddd;
    border: medium none;
    border-radius: 10px;
    box-shadow: none;
    font-family: arial;
    font-size: 24px;
    height: 26px;
    padding: 10px;
    width: 394px;
}
.notifications_box {
    background-color: #f3f3f3;
    float: left;
    margin-top: 15px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
.notifications_box > img {
    width: 66px;
}
.pad{
    padding: 35px;
}
.inpt_fld{
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #DCE4ED;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 250px;
}


.login_outer h2 {
    color: #109779;
    font-family: arial;
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
}
.right_panel_login {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin-left: 15px;
    padding: 8px;
    width: 488px;
}

.form_container {
    float: left;
}
.field > input[type="submit"] {
    border: medium none;
    border-radius: 10px;
    color: #fff;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    min-height: 31px;
    min-width: 101px;
    background: #19B77A;
    padding-left: 10px;
    padding-right: 10px;
}

.right_adds {
    float: left;
    margin-left: 15px;
}
.swapper > li:hover{
    background: #19B77A;
    color: #fff;
}
.ttll > a{
    text-decoration: none;
    color: #2980b9;
    font-family: arial;
    font-size: 13px;
    font-weight: bold;
    line-height: 21px;
/*    padding-left: 5px;*/
    
}
.res_tr td {
    text-decoration: none;
    color: #5e5e61;
    font-family: arial;
    font-size: 14px;
}
.top_search_box {
    float: left;
    margin-left: 10px;
    margin-top: 21px;
    width: 770px;
}
.right_panel h2 {
    
    color: #69696a;
    font-family: arial;
    font-size: 25px;
    font-weight: bold;
    padding-left: 8px;
}
.header {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    width: 1368px;
}
.header_top {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #137a63;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    height: 50px;
    text-align: center;
}
.top_inner {
    display: inline-block;
    margin: 0 auto;
    color: #fff;
    min-width: 1125px;
}
.top_logo {
    float: left;
    height: 50px;
}
.header_lower {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #fff;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    height: 101px;
    width: 100%;
}

.favourite_container {
    border: 1px solid;
    padding: 5px;
}
.srch_logo {
    float: left;
    height: 78px;
}
.srch_logo > img {
    height: 78px;
    width: 78px;
}
.ttl_comp {
    float: left;
    margin-left: 15px;
    width: 893px;
}
.result_ttl {
    color: #2980b9;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
/*    width: 320px;*/
}
.result_ttl > a {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #2980b9;
    text-decoration: none;
}
.compny {
    color: #828186;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 3px;
    padding-top: 3px;
    float: left;
}
.srch_descrip {
    float: left;
    font-family: arial;
    font-size: 12px;
    margin-left: 15px;
    margin-top: 10px;
    text-align:justify;
    width: 541px;
}
.lowr_cntnr {
    clear: both;
    min-height: 42px;
    padding-top: 8px;
}
.srch_time {
    color: #c5cac9;
    float: left;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    width: 150px;
	margin-left: 12%;
}
.attrs {
float: right;
margin-right: 4%;
}
.attr {
    border-right: 1px solid;
    color: #2980b9;
    font-family: arial;
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
}
.last {
    border-right: none;
}
.src_loc_icon {
    float: left;
    margin-left: 0px;
}
.srch_location {
    color: #535356;
    float: left;
    font-family: arial;
    font-weight: bold;
    margin-left: 0px;
}
.loc_wid{
    width: 212px;
}
.srch_type {
    float: left;
    margin-left: 142px;
}
.fav_apply {
    float: left;
    margin-left: 74px;
    width: 178px;
    text-align: right;
}
.apl_mrg{
    margin-left: 178px;
    
}
.ttl_compjob {
    float: left;
    margin-left: 15px;
    width: 384px;
}
.addfav_icn {
    float: left;
    margin-left: 45px;
}
.fav_pad{
    margin-left: 126px;
}
.add_fav {
    color: #828186;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    padding-top: 3px;
    float: left;
}
.separator{
    border-bottom: 1px solid #69696a;
    margin-bottom: 6px;
}
.result_container{
    padding-top: 12px;
}
.pagination {
    margin: 5px;
    padding: 5px;
    text-align: right;
}
.pagination > strong {
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
}
.pagination > a {
    border: 1px solid #a9b8dd;
    font-size: 16px;
    margin-right: 5px;
    padding: 3px 4px;
    text-decoration: none;
}
.skp_bt {
    text-decoration: none;
}
.skp_btn {
    background: none repeat scroll 0 0 #a1a4a3;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    min-height: 31px;
    text-decoration: none;
    margin-left: 14px;
}
#header_drp_down4 img {
    height: 54px;
    width: 150px;
}
.green_btn {
    background: none repeat scroll 0 0 #19b77a;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
    min-height: 31px;
    text-decoration: none;
}
.fav_apply.apl_mrg > a {
    text-decoration: none;
}
.red_btn {
    background: none repeat scroll 0 0 #D98541;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-family: arial;
    font-size: 17px;
    font-weight: bold;
    min-height: 31px;
    text-decoration: none;
}
.srch_type > a {
    text-decoration: none;
}
.reject_app {
    float: left;
    margin-left: 246px;
    margin-top: -15px;
}
.schedule_intrv {
    margin-left: 246px;
    margin-top: -19px;
    float: left;
}
.reject_app > a {
    text-decoration: none;
}
.schedule_intrv > a {
    text-decoration: none;
}
.period {
    float: right;
    font-family: arial;
    font-weight: normal;
}
.res_heading_sb {
    color: #137a63;
    font-family: arial;
    font-size: 20px;
}
.resume_pic {
    float: right;
    margin-right: 33px;
    margin-top: 27px;
}
.res_heading_sb > img {
    float: left;
    margin-right: 12px;
}
.up_pr_img img {
    height: 200px;
    width: 172px;
}
.profile_img_container {
    float: right;
    margin-right: 50px;
}
.sml_img_top {
    margin: 0 0 10px 23px;
}
.sml_img_low {
    cursor: pointer;
    margin: 10px 0 0 37px;
    overflow: hidden;
    position: relative;
}
.upload_profile_pic {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.res_edt_col_hd {
    border-bottom: 1px solid #5e5e61;
    border-top: 1px solid #5e5e61;
    color: #19b77a;
    font-family: arial;
    font-size: 21px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    cursor: pointer;
}
.del_adeed {
    margin-right: 60px;
    padding-bottom: 30px;
    text-align: right;
}
.res_edt_col_hd > img {
    margin-right: 10px;
}
#academics{
    display: none;
}
#experiances{
    display: none;
}
#trainings{
    display: none;
}
#awards{
    display: none;
}
.add_new_icn {
    color: #2980b9;
    font-family: arial;
    font-weight: bold;
    cursor: pointer;
}
#add_edu_frm{
    display: none;
}
#add_exp_frm{
    display: none;
}
#add_award_frm{
    display: none;
}
#add_tran_frm{
    display: none;
}
.right_panel_descrip {
    float: left;
    margin-left: 15px;
    width: 760px;
    background: #fff;
    padding: 8px;
}
.right_long_ad {
    float: left;
    margin-left: 15px;
}
.dat_aply_contnr{
    float: left;
}
#back_cntnr {
    float: left;
    margin-left: 90px;
    margin-right: 61px;
}
.back_btn {
    background: none repeat scroll 0 0 #a1a4a3;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    font-family: arial;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    min-width: 83px;
    cursor: pointer;
}
.sml {
    font-size: 15px;
    height: 29px;
    padding-left: 6px;
    padding-right: 6px;
}
.more_wid{
    width: 503px;
}
.updt {
    text-decoration: none;
}
.del_cntnr {
    float: left;
    margin-left: 60px;
}
.btn_blue {
    background: none repeat scroll 0 0 #425f9c;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    font-family: arial;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.btn_red{
    background: none repeat scroll 0 0 #DA2929;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    font-family: arial;
    font-size: 24px;
    font-weight: bold;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.search_results {
    float: left;
    margin-left: 18px;
    padding-right: 10px;
    width: 749px;
}
.srch_top {
    display: inline-block;
    padding-bottom: 10px;
    width: 749px;
    border-bottom: 2px solid;
}
.srch_ttl {
    color: #69696a;
    float: left;
    font-family: arial;
    font-size: 25px;
    font-weight: bold;
}
.srch_count {
    color: #2980b9;
    float: right;
    font-family: arial;
    font-size: 22px;
}
.ttl_comp.aut_wid {
    width: 300px;
}
.ttl_comp.ttl_wid{
    width: 329px;
}
.srch_type.typ_mrg{
    margin-left: 0px;
}
.srch_location.srch_loc_wid{
    width: 150px;
}
.sml_drop {
    background: none repeat scroll 0 0 #e1dddd;
    border: medium none;
    border-radius: 10px;
    color: #2980b9;
    font-family: arial;
    font-size: 18px;
    height: 40px;
    padding-left: 12px;
    width: 127px;
	float: right;
	margin-right: 4%;
}
.Relevance {
    float: left;
    margin-left: 12px;
    margin-right: 15px;
}

.adv_ttl {
    margin-bottom: 12px;
    margin-left: 12px;
    margin-top: 10px;
}
.SincelastvisitLas843 {
    float: left;
    margin-left: 12px;
}
.SincelastvisitLas843 > ul {
    list-style: outside none none;
    margin-top: -3px;
    padding: 0;
}
.SincelastvisitLas843 li {
    color: #69696a;
    font-family: arial;
    font-size: 18px;
}
.polig1{ 
         float: left;
	 width: 14px;
	 height: 14px;
	 z-index:87;
         margin-left: 22px;
         margin-top: 8px;
} 
.selct_ttl {
    float: left;
    margin: 10px;
}
.ResetFilters {
background: none repeat scroll 0px 0px #1E9665;
border-radius: 10px;
clear: both;
height: 22px;
text-align: center;
width: 42%;
margin: 0px auto 16px;
font-size: 18px;
color: white;
padding: 12px;
}
.ResetFilters > img {
    margin-top: 18px;
}
.Refinements {
    margin-top: 12px;
    text-align: center;
}
#selector_submit {
    display: none;
}
.tabs_cnt {
    list-style: outside none none;
    margin-left: 121px;
}
.tabs_cnt > li {
    background-color: #fff;
    float: left;
    margin-right: 44px;
    padding: 42px;
    text-align: center;
}

.tabs_cnt img {
    width: 58px;
    height: 58px;
}
#searchTextField {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #DCE4ED;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 250px;
}
.MapLat {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #DCE4ED;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 250px;
}
.MapLon {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #DCE4ED;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 250px;
}
.big_txt {
    color: #5e5e61;
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    padding-left: 164px;
}
 .jdmo_header{

	background:url(http://www.bayrozgar.com/images/moreoption_bg.png) no-repeat center;

	height:24px;

	width:240px;

	text-align:left;

	font-weight:bold;

	margin-top: 0;

	margin-right: auto;

	margin-bottom: 0;

	margin-left: auto;

	padding-top: 10px;

	padding-right: 0;

	padding-bottom: 0;

	padding-left: 10px;

}
.jdmo_detail{width:228px; margin:0 auto; text-align:left; padding-left:20px; padding-top:10px; padding-bottom:10px; border:1px solid #d9d9d9;}

.jdmo_detail img{margin-top:10px;}

.jdmo_detail span{font-size:12px; padding-left:10px;}

.jdmo_detail span a{color:#1871b9; text-decoration:none; padding-bottom:5px;}

.jdmo_detail span a:hover{color:#1871b9; text-decoration:underline; padding-bottom:5px;}

.jdmo_detail2{text-align:left; font-size:11px; color:#1871b9; line-height:23px; color:#1871b9; padding-left:5px; text-decoration:none;}

.jdmo_detail2 a{ text-align:left; font-size:12px; color:#1871b9; line-height:23px; padding-top:10px; color:#1871b9;}

.jdmo_detail2 a:hover{ text-align:left; font-size:12px; color:#1871b9; line-height:23px; padding-top:10px; color:#1871b9;}

.clear{ clear:both}

.remv_mrg {
    margin-left: 8px;
}
.sucs_msg {
    color: green;
    padding: 5px;
}
.right_panel_login.reg_pnl {
    width: 596px;
}
.intrv_time {
    float: left;
    line-height: 17px;
    margin-left: 140px;
    margin-top: 23px;
    text-align: center;
}
.avail_dat {
    float: left;
    margin-left: 9px;
    margin-top: 4px;
}
.heading_sb {
    font-family: arial;
    font-weight: bold;
    text-align: center;
}
.rating_cand {
    float: left;
    width: 250px;
}
.rating_candi {
    float: left !important;
    width: 225px;
}
.avrage {
    background-color: #19b77a;
    color: #000;
    opacity: 0.7;
    z-index: -10000;
}
.avrage h3 {
    color: black;
}
.rating_cand > div {
    color: black;
}


.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; } 

.left_pannel_img {
	width:10%;
	
	}
.left_pannel_txt{
	margin-left:10%;
	
	}
.moretag{
	text-align:right;
	font-weight: bold !important;
}
.resume_div {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
	}	
.alert-info {
    background-image: linear-gradient(to bottom, #c1e3f5 0px, #92c5de 100%);
    background-repeat: repeat-x;
    border-color: #9acfea;
}
.alert {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}
.alert-info {
    background-color: #d9edf7;
    color: #31708f;
    display: none;
}
.alert {
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 15px;
}
.close {
    color: #000;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    opacity: 0.57;
    text-shadow: 0 1px 0 #fff;
    text-decoration: none;
    color: red;
}





#right_ad_vertical {
    float: left;
    margin-left: 59px;
}
.logo_time {
    float: left;
}
.join_train {
    float: left;
    margin-left: 505px;
}
.train_registered {
    float: left;
    font-family: arial;
    font-size: 19px;
    margin-top: 6px;
    width: 215px;
}
.train_reg_num{
    color: #3b84d7;
}
.training_descrip {
    color: black;
    font-family: arial;
}
.train_duration {
    color: #3b84d7;
    float: left;
    font-family: arial;
    font-size: 18px;
}
.duration_ttl {
    color: #797575;
    float: left;
    font-family: arial;
    font-size: 20px;
    margin-left: 138px;
}
.train_reviews {
    float: left;
    font-family: arial;
    margin-left: 7px;
    width: 126px;
    color: #3b84d7;
}
.training_loc {
    color: #69696a;
    float: left;
    font-family: arial;
    font-weight: bold;
    margin-top: 3px;
    width: 159px;
}
.train_loc_icon {
    float: left;
    margin-left: 168px;
}
.rating_reviews {
    float: left;
}
.training_price {
    color: #cd1717;
    float: left;
    font-size: 20px;
    margin-left: 25px;
    width: 155px;
}
.train_ttl_comp {
    float: left;
    min-width: 686px;
}
.traing_dtls {
    float: left;
    width: 889px;
}
.logo_time {
    float: left;
    width: 86px;
}
.train_srch_logo {
    height: 78px;
}
.train_srch_time {color: #c5cac9;
    float: left;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}
.train_srch_logo > img {
    height: 78px;
    width: 78px;
}
.training_cntnr {
    border: 1px solid;
    display: inline-flex;
    padding: 10px 5px;
}
.separator_light{
    border-bottom: 1px solid #cdcece;
    margin-bottom: 6px;
}
.leftpanelheading {
	margin-top: 7%;
	float: left;
	margin-left: 5%;
}
